<h2>Lista de Autos disponibles</h2>


<table class="table">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Nombre</th>
            <th>Modelo</th>
            <th>Categoria</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cars of Volkswagen">
            <td>{{cars.marca}}</td>
            <td>{{cars.nombre}}</td>
            <td>{{cars.modelo}}</td>
            <td>{{cars.categoria}}</td>
            <td><img [src]="cars.imagen" [alt]="cars.nombre"></td>
        </tr>    
    </tbody>
</table>
