<h2>Lista de Autos disponibles</h2>


<table class="table">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Nombre</th>
            <th>Modelo</th>
            <th>Categoria</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{cars.marca}}</td>
            <td>{{cars.nombre}}</td>
            <td>{{cars.modelo}}</td>
            <td>{{cars.categoria}}</td>
            <td><img [src]="cars.imagen" [alt]="cars.nombre"></td>
        </tr>    
    </tbody>
    <tbody>
        <tr>
            <td>{{tiguan.marca}}</td>
            <td>{{tiguan.nombre}}</td>
            <td>{{tiguan.modelo}}</td>
            <td>{{tiguan.categoria}}</td>
            <td><img [src]="tiguan.imagen" [alt]="tiguan.nombre"></td>
        </tr>    
    </tbody>
    <tbody>
        <tr>
            <td>{{amarok.marca}}</td>
            <td>{{amarok.nombre}}</td>
            <td>{{amarok.modelo}}</td>
            <td>{{amarok.categoria}}</td>
            <td><img [src]="amarok.imagen" [alt]="amarok.nombre"></td>
        </tr>    
    </tbody>
</table>
