<h2>Lista de Autos disponibles</h2>

<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Marca</th>
            <th>Nombre</th>
            <th>Modelo</th>
            <th>Categoria</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cars of Volkswagen">
            <td><img class="img" class ="carousel-item active" [src]="cars.imagen" [alt]="cars.nombre"></td>
            <td>{{cars.marca}}</td>
            <td>{{cars.nombre}}</td>
            <td>{{cars.modelo}}</td>
            <td>{{cars.categoria}}</td>
            <td>{{cars.precio | currency}}</td>
            <td class="badge rounded-pill text-bg-danger" *ngIf="cars.stock == 0"> Sin stock de fabrica </td>
        </tr>    
    </tbody>
</table>
